// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
    background-color: white;
    border: 3px solid black;
    width: 30%;
    min-height: 300px;
    text-align: center;
    max-width: 1256px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}
