// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
 font-weight: bold;
 border: 2px black solid;
 background-color: lightblue;
}

td {
 border: 1px black solid;
}

table {
    background-color: white;
}
