// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
 font-weight: bold;
 border: 2px black solid;
 background: linear-gradient(90deg,#28bbeb,#ff637e,#ffe226,#1cd5af,#28bbeb);
    background-size: 400% 100%;
    background-position: 33.3% 0;
    transition: background-position .5s ease;
padding: 10px 20px 10px 20px;
}

td {
 border: 1px black solid;
}

table {
    background-color: white;
}

img {
    border-radius: 6%;
}
